<div class="large-margin">
    <div class="large-divider"></div>

    <h2>Beer successfully deleted!</h2>

    <button class="amber black-text" onclick="location.href='/beers/beer-list'">
        <span>Back to Beer List</span>
    </button>

</div>