<div class="large-margin">
    <div class="large-divider"></div>

    <h3>Add a New Beer to the Database</h3>
    <p>
    <form action="/beers/beer-create" method="post">

        <p>
            <label> Title:
                <div class="field suffix fill border">
                    <input type="text" name="title" />
                </div>
            </label>
        </p>

        <p>
            <label> Alcohol by volume:
                <div class="field label border fill">
                    <input type="text" name="abv" />
                </div>
            </label>
        </p>

        <label> Brewery:
            <div class="field suffix fill border">
                <select name="brewery">
                    {{#each info}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </label>


        <p>
            <label> Description:
                <div class="field textarea label border fill">
                    <textarea name="description" cols="30" rows="4"> </textarea>
                </div>
            </label>
        </p>

        <p>
            <label> Image:
                <div class="field suffix label border fill">
                    <input type="text" name="image" />
            </label>
        </p>
        <p>
            <label>Beerstyle:
                <div class="field suffix fill border">
                    <select name="beerstyle" id="beerstyle">
                        {{#each beerstyle.enumValues}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </label>
        </p>


        <p>
            <label> Rate:
                <div class="field suffix fill border">
                    <input type="number" name="rating" min="1" max="5" />
                </div>
            </label>
        </p>

        <button class="extra green margin" type="submit">
            <img src="./public/images/favicon.png" class="responsive">
            <span>Create Beer</span>
        </button>
    </form>

    <div>
        <a class="chip amber" href="/beers/beer-list"><i>arrow_back</i><span>Back</span></a>
    </div>

</div>