<div class="large-margin">
    <div class="large-divider"></div>
    <div>
        <h3 class="large-margin">Beers in our DB <span><button class="amber black-text large-margin"
                    onclick="location.href='/beers/beer-create'">
                    <span>Create New Beer</span></h3>
        </button>
        </span>
    </div>

    <style>

        body {
            background-color: black;
            color: whitesmoke;
        }
        
        #beerpic {
            max-height: 200px;
            max-width: 200px;
            border-radius: 2em;
        }
    </style>

    <div class="row wrap small-space wrap">
        {{#each beers}}
        <div class="col s4">
            <article class="small round">
                <div class="row medium-space">
                    <div class="col s4">
                        <img id="beerpic" src="{{this.image}}" class="responsive">
                    </div>
                    <div class="col">
                        <h5>{{this.title}}</h5>
                        <hr>
                        <p>Rating: {{this.rating}}</p>
                        <nav>
                            <button class="border amber-border black-text responsive" onclick="location.href='/beers/{{_id}}'"><img
                                    src="/images/favicon.png" class="responsive"><span>Details</span></a></button>
                        </nav>
                    </div>
                </div>
            </article>
        </div>
        {{/each}}
    </div>
</div>