<div class="large-margin">
  <div class="large-divider"></div>

  <h3 class="signInOut">Account</h3>

  <article class="border medium no-padding">
    <div class="padding absolute white-text center middle">
      {{#if userInSession}}
      <h4>Welcome, {{ userInSession.username }}!</h4>
      <p>This is the Account page</p>
      <button>
        <a href="/auth/user-profile">Reload the page</a>
      </button>

      {{else}}
      <h4 class="black-text">Signup or Login</h4>
      {{/if}}

      <div class="center-align">
        <button class="button" onclick="location.href='/auth/signup'">Signup</a></button>
        <hr>
        <button class="button" onclick="location.href='/auth/login'">Login</a></button>
      </div>

    </div>
  </article>