<div class="large-margin">
   <div class="large-divider"></div>

   <h3 class="large-margin">Login</h3>

   <form action="/auth/login" method="POST">

      <div class="field suffix fill border large-margin">
         <label> Username</label>
         <input type="text" name="username">
      </div>

      <div class="field suffix fill border large-margin">
         <label> Password</label>
         <input type="password" name="password">
      </div>

      <button class="responsive large-margin" type="submit">Submit</button>
   </form>

   {{#if errorMessage}}
   {{errorMessage}}
   {{/if}}