<div class="large-margin">
   <div class="large-divider"></div>

   <h3 class="large-margin">Sign Up</h3>

   <form action="/auth/signup" method="POST">
      <div class="field suffix fill border large-margin">
         <label> Username </label>
         <input type="text" name="username">
      </div>

      <div class="field suffix fill border large-margin">
         <label> E-Mail </label>
         <input type="email" name="email">
      </div>

      <div class="field suffix fill border large-margin">
         <label> Password </label>
         <input type="password" name="password">
      </div>

      {{!-- <label> Password
         <input type="password" name="password">
      </label> --}}
      <button class="responsive large-margin" type="submit">Submit</button>
   </form>

   {{#if errorMessage}}
   {{errorMessage}}
   {{/if}}
</div>