<style>
  #bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #content {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    color: #f1f1f1;
    padding-top: 200px;
    margin-right: 5em;
  }
</style>



<video id="bgVideo" autoplay="autoplay" loop="loop" muted="muted">
  <source src="/videos/Pouring_Beer.mp4" type="video/mp4">
</video>

<div id="content">
  <h1>Welcome Beerlover</h1>
</div>