 <div class="container">
      <video autoplay muted loop id="myVideo">
    <source src="/videos/background_black.mp4" type="video/mp4">

    <div class="content">
    <h1>Placeholder</h1>

    <p>Welcome {{username}}</p>
</div>

</video>
 </div>


