<video autoplay="autoplay" loop="loop" muted="muted">
  <source src="/videos/Pouring_Beer.mp4" type="video/mp4" heigth="100vh">
</video>


<div class="overlay right-align middle-align white-text">
    <h5>Position</h5>
    <div>Lorem ipsum dolor...</div>
</div>



