<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   {{!-- beercss --}}
   <link href="https://cdn.jsdelivr.net/npm/beercss@2.0.12/dist/cdn/beer.min.css" rel="stylesheet" />
   <script src="https://cdn.jsdelivr.net/npm/beercss@2.0.12/dist/cdn/beer.min.js" type="text/javascript"></script>


   {{!-- leaflet CDN --}}
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
</head>

<body class="large-margin">
   <header id="header" class="menu top">
      <img src="/images/favicon.png" class="circle small-margin">
      <button class="amber black-text" onclick="location.href='/'">
         <i class="outlined">home</i><span>Home</span>
      </button>
      <button class="amber black-text" onclick="location.href='/beers/beer-list'">
         <span>Beers</span>
      </button>
      <button class="amber black-text" onclick="location.href='/brewery/brewery-list'">
         <span>Breweries</span>
      </button>
      {{#if userInSession}}
      <button class="red black-text" onclick="location.href='/auth/logout'">
         <i class="outlined">cached</i>
         <span>Logout</span>
      </button>
      {{else}}
      <button class="white-text" onclick="location.href='/auth/user-profile'">
         <i class="outlined">account_circle</i>
         <span>Account</span>
      </button>
      {{/if}}
   </header>

   <div class="large-divider"></div>

   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>