<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body id="layoutBody">
   <header id="header">
      <a href="/">Home</a> <span>|</span> <a href="/beers/beer-list">Beer Collection</a> <span>|</span> <a href="/auth/user-profile">User Profile</a>
   </header>

   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>