
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #0a2c42;
  background-color: whitesmoke;
  text-align: left;
  width: 100%;
  overflow: hidden;
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.2em;
}

h1 {
  color: 15px;
}

#header {
  color: #fff;
  background-color: #0a2c42;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2em;
  max-width: 80%;
}

#header > a {
  color:#fff
}



form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #00b7ff;
  border: 1px solid #00b7ff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: #fff;
  color: #00b7ff;
  transition: 0.3s ease background;
}

#myVideo{
  width: 100%;
  height: 100%;
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}