<div class="large-margin">
    <div class="large-divider"></div>

    <h2>Brewery successfully deleted!</h2>

    <button class="amber black-text" onclick="location.href='/brewery/brewery-list'">
        <span>Back to Brewery List</span>
    </button>