<h1>Brewery in our DB</h1>

<a href="/brewery/brewery-create">Create New Brewery</a>

{{#each brewery}}
<section class="brewery-list">
    <h2>{{this.name}}</h2>
    <p>Address: {{this.address}}</p>
    <p><a href="/brewery/{{_id}}">Show Details</a>
    </p>
</section>
{{/each}}