<h3>Brewery in our DB</h3>

<a href="/brewery/brewery-create">Create New Brewery</a>

<div class="row wrap large-space">
{{#each brewery}}
<div class="col s4">
    <h4>{{this.name}}</h4>
    <p>Address: {{this.address}}</p>
    <p><a href="/brewery/{{_id}}">Show Details</a>
    </p>
</div>
{{/each}}
</div>
