<div class="new-brewery">
    <h3>Create a New Brewery</h3>
    <p>
    <form action="/brewery/brewery-create" method="post">

        <div class="field label border fill">
            <input type="text">
            <label>Name</label>
        </div>


        <div class="field label border fill">
            <input type="text" name="address" />
            <label>Address</label>
        </div>

        <div class="field label border fill">
            <input type="text" name="city" />
            <label>City</label>
        </div>

        <div class="field label border fill">
            <input type="text" name="state" />
            <label>State</label>
        </div>

        <div class="field label border fill">
            <input type="number" name="code" />
            <label>Postcode</label>
        </div>

        <div class="field label border fill">
            <input type="text" name="country" />
            <label>Country</label>
        </div>

        <div class="field label border fill">
            <input type="text" name="website" />
            <label>Website</label>
        </div>

        <div class="field textarea label border fill">
            <textarea name="description" cols="30" rows="4"> </textarea>
            <label>Description</label>
        </div>

        <button type="submit"> Create </button>
    </form>

    <p><a href="/brewery/brewery-list">Back</a></p>
</div>