<h3>Brewery in our DB</h3>

<a href="/brewery/brewery-create">Create New Brewery</a>

<div class="row wrap large-space">
{{#each brewery}}
<section class="brewery-list">
    <h2>{{this.name}}</h2>
    <p>Website: <a href="{{this.website}}" /a>{{this.website}}</p>
    <p><a href="/brewery/{{_id}}">Show Details</a>
    </p>
</div>
{{/each}}
</div>
