<div class="large-margin">
    <div class="large-divider"></div>

    <h3>Create a New Brewery</h3>
    <p>
    <form action="/brewery/brewery-create" method="post">

        <p>
            <label>Name</label>
        <div class="field label border fill">
            <input type="text">
        </div>
        </p>

        <p>
            <label>Address</label>
        <div class="field label border fill">
            <input type="text" name="address" />
        </div>
        </p>

        <p>
            <label>City</label>
        <div class="field label border fill">
            <input type="text" name="city" />
        </div>
        </p>

        <p>
            <label>State</label>
        <div class="field label border fill">
            <input type="text" name="state" />
        </div>
        </p>

        <p>
            <label>Postcode</label>
        <div class="field label border fill">
            <input type="number" name="code" />
        </div>
        </p>

        <p>
            <label>Country</label>
        <div class="field label border fill">
            <input type="text" name="country" />
        </div>
        </p>

        <p>
            <label>Website</label>
        <div class="field label border fill">
            <input type="text" name="website" />
        </div>
        </p>

        <p>
            <label>Description</label>
        <div class="field textarea label border fill">
            <textarea name="description" cols="30" rows="4"> </textarea>
        </div>
        </p>


        <button class="extra green margin" type="submit">
            <img src="./public/images/favicon.png" class="responsive">
            <span>Create Brewery</span>
        </button>
    </form>

<div>
    <button class="extend square round amber extra margin"
        onclick="location.href='/brewery/brewery-list'"><i>arrow_back</i><span>Back</span></button>

</div>