<h3>Edit the Brewery: {{brewery.name}}</h3>

<form action="/brewery/{{brewery._id}}/edit" method="post">
    <p>
        <label>Name</label>
    <div class="field label border fill">
        <input type="text">
    </div>
    </p>

    <p>
        <label>Address</label>
    <div class="field label border fill">
        <input type="text" name="address" />
    </div>
    </p>

    <p>
        <label>City</label>
    <div class="field label border fill">
        <input type="text" name="city" />
    </div>
    </p>

    <p>
        <label>State</label>
    <div class="field label border fill">
        <input type="text" name="state" />
    </div>
    </p>

    <p>
        <label>Postcode</label>
    <div class="field label border fill">
        <input type="number" name="code" />
    </div>
    </p>

    <p>
        <label>Country</label>
    <div class="field label border fill">
        <input type="text" name="country" />
    </div>
    </p>

    <p>
        <label>Website</label>
    <div class="field label border fill">
        <input type="text" name="website" />
    </div>
    </p>

    <p>
        <label>Description</label>
    <div class="field textarea label border fill">
        <textarea name="description" cols="30" rows="4"> </textarea>
    </div>
    </p>

    <button class="extra green margin" type="submit">
        <img src="../images/favicon.png" class="responsive">
        <span>Save changes</span>
</form>

<button class="extend square round amber extra margin"
    onclick="location.href='/brewery/{{brewery._id}}'"><i>arrow_back</i><span>Back</span></a></button>