<div class="new-brewery">
    <h1>Create a New Brewery</h1>
    <p>
    <form action="/brewery/brewery-create" method="post">
        <label> Name:
            <input type="text" name="name" />
        </label>
        </p>

        <p>
            <label> Address:
                <input type="text" name="address" />
            </label>
        </p>

        <p>
            <label> City:
                <input type="text" name="city" />
            </label>
        </p>

        <p>
            <label> State:
                <input type="text" name="state" />
            </label>
        </p>

         <p>
            <label> Postcode:
                <input type="number" name="code" />
            </label>
        </p>

        <p>
            <label> Country:
                <input type="text" name="country" />
            </label>
        </p>

        <p>
            <label> Website:
                <input type="text" name="website" />
            </label>
        </p>

        <p>
            <label> Description:
                <textarea name="description" cols="30" rows="4"> </textarea>
            </label>
        </p>

        <button type="submit"> Create </button>
    </form>

    <p><a class="button" href="/brewery/brewery-list">Back</a></p>
</div>